## download stock data

In [9]:
import pandas_datareader as pdr
import datetime

start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2021, 1, 1)
start_date_str = str(start.date())
end_date_str = str(end.date())

stocks = ['MMM', 'AXP', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DIS', 'XOM', 'GE',
          'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PFE',
          'PG', 'TRV', 'UNH', 'VZ', 'WMT', 'GOOGL', 'AMZN','SPY']

for ticker in stocks:
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pdr.DataReader(ticker, 'yahoo', start, end)
    print(data.shape)
    data.to_csv(file_name)

data/MMM_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/AXP_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/AAPL_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/BA_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/CAT_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/CVX_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/CSCO_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/KO_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/DIS_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/XOM_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/GE_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/GS_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/HD_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/IBM_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/INTC_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/JNJ_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/JPM_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/MCD_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/MRK_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/MSFT_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/NKE_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/PFE_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/PG_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/TRV_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/UNH_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/VZ_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/WMT_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/GOOGL_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/AMZN_2006-01-01_to_2021-01-01.csv
(3776, 6)
data/SPY_2006-01-01_to_2021-01-01.csv
(3776, 6)

## print data

In [10]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./data/XOM_2006-01-01_to_2021-01-01.csv
./data/CSCO_2006-01-01_to_2021-01-01.csv
./data/AAPL_2006-01-01_to_2021-01-01.csv
./data/GS_2006-01-01_to_2021-01-01.csv
./data/VZ_2006-01-01_to_2021-01-01.csv
./data/WMT_2006-01-01_to_2021-01-01.csv
./data/CAT_2006-01-01_to_2021-01-01.csv
./data/UNH_2006-01-01_to_2021-01-01.csv
./data/JNJ_2006-01-01_to_2021-01-01.csv
./data/MSFT_2006-01-01_to_2021-01-01.csv
./data/JPM_2006-01-01_to_2021-01-01.csv
./data/AMZN_2006-01-01_to_2021-01-01.csv
./data/MMM_2006-01-01_to_2021-01-01.csv
./data/CVX_2006-01-01_to_2021-01-01.csv
./data/HD_2006-01-01_to_2021-01-01.csv
./data/GE_2006-01-01_to_2021-01-01.csv
./data/PFE_2006-01-01_to_2021-01-01.csv
./data/NKE_2006-01-01_to_2021-01-01.csv
./data/MCD_2006-01-01_to_2021-01-01.csv
./data/BA_2006-01-01_to_2021-01-01.csv
./data/PG_2006-01-01_to_2021-01-01.csv
./data/DIS_2006-01-01_to_2021-01-01.csv
./data/MRK_2006-01-01_to_2021-01-01.csv
./data/KO_2006-01-01_to_2021-01-01.csv
./data/GOOGL_2006-01-01_to_2021-01-01.csv
./data/AXP_2006-01-01_to_2021-01-01.csv
./data/INTC_2006-01-01_to_2021-01-01.csv
./data/IBM_2006-01-01_to_2021-01-01.csv
./data/SPY_2006-01-01_to_2021-01-01.csv
./data/TRV_2006-01-01_to_2021-01-01.csv

In [11]:
filepath = './data/AMZN_2006-01-01_to_2021-01-01.csv'
data = pd.read_csv(filepath)
data = data.sort_values('Date')
data.head()

         Date       High        Low       Open      Close   Volume  Adj Close
0  2006-01-03  47.849998  46.250000  47.470001  47.580002  7582200  47.580002
1  2006-01-04  47.730000  46.689999  47.490002  47.250000  7440900  47.250000
2  2006-01-05  48.200001  47.110001  47.160000  47.650002  5417200  47.650002
3  2006-01-06  48.580002  47.320000  47.970001  47.869999  6152900  47.869999
4  2006-01-09  47.099998  46.400002  46.549999  47.080002  8943100  47.080002